footer{
    background-image: linear-gradient(to left, $color-rosa,$color-violeta);  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}