header{
    nav{
        background-image: linear-gradient(to right, $color-rosa,$color-violeta);  
        }
        .nav-link{
            font-size: 20px;
            color: white;
        }
    }



