main{
    .heroservicios{
        background-image: url("../img/servicios.jpg");
        @extend %imgprincipal;
        @include flex(flex,right,flex-start);
            div{
                width: 100%;
            }
            h1{
                font-size: 50px;
                font-weight: 400px;
                font-style: italic;
                font-family:'Times New Roman', Times, serif;
                letter-spacing: 10px;
                text-align: right;
                margin: 25px;
            }
            p{
                text-align:right;
                font-size: 30px;
                margin: 25px;
                font-family: 'Times New Roman', Times, italic;
            }
    }
    .opciones div{
        text-align:right;
        font-size: 30px;
        margin: 25px;
        font-family: 'Times New Roman', Times, italic;
        div{
            width: 100%;
            height: auto;
            text-align:left;
            border-radius: 15px;
            margin: 20px;
            display: flex;
            align-items:center;
            color: white;
            line-height: 50px;
            font-size: 21px;
            &:hover{
                color: black;
            }
            img{
                width: 250px;
                height: 250px;
                margin: 10px;
                border-radius: 50%;
            }
            h2{
                text-align: center;
                margin: auto;
                padding: 0 40px 0 0;
            }
        }
    }
    .botons{
        border:map-get($boton,border-boton);
        font-size:map-get($boton, font );
        margin-bottom: 20px;
        padding: 10px;
        width: 100px;
        border-radius: 8px;
        cursor: pointer;
        color: #fff;
        background-size: 300%;
        text-decoration: none;
        background-image:map-get($boton , color);  
        transition: 0.6s;
        &:hover{
            background-position: right;
            color:black
        }
    }
    .opc1{
        background-color: rgba(155, 81, 211, 0.803);
        &:hover{
            background-color: rgb(155, 81, 211);
        }
    }
    .opc2{
        background-color:rgba(246, 117, 169, 0.775);
        &:hover{
            background-color:rgb(252, 133, 181);
        }
    }
    .opc3{
        background-color:rgba(242, 147, 147, 0.801);
        &:hover{
            background-color: rgb(242, 147, 147);
        }
    }
    .opc4{
        background-color:rgba(246, 159, 115, 0.859);
        &:hover{
            background-color: rgb(246, 159, 115);
        }
    }
}
