
main{
    .contacto{
        background-image: url("../img/contacto.jpg");
        @extend %imgprincipal;
        @include flex(flex,right,flex-start);
        h1{
            margin: 25px;
            font-size: 50px;
            font-weight: 400px;
            font-style: italic;
            font-family:'Times New Roman', Times, serif;
            letter-spacing: 10px;
            text-align: right;
        }
    }
    .formulario{
        display: flex;
        justify-content: space-between;
        margin: 30px;
        color: rgb(82, 5, 82);
        text-align: center;
        font-size: 18px;
        .formu{
            width: 450px;
            margin: auto;
            background:rgba(233, 150, 122, 0.578);
            padding: 10px 20px;
            box-sizing: border-box;
            margin-top: 20px;
            border-radius: 7px;
        }
        .mapa{
            width: 450px;
            margin: auto;
            background:rgba(233, 150, 122, 0.578);
            padding: 10px 20px;
            box-sizing: border-box;
                margin-top: 20px;
            border-radius: 7px;
            iframe{
                width: 400px;
                margin: 0;
            }
        }
    }
}