/*-------MQ MAIN DE TODOS LOS DOCUMENTOS--------*/
@media screen and (max-width:675px) {
main{
    .hero{ 
        background-image:none;
        height: auto;
        width: auto;
        margin: 40px;
        text-align: center;
    }
    .heroservicios{
        background-image:none;
        height: auto;
        width: auto;
        margin: 20px;
        color: $color-titulos;
        h1{
            text-align: center;
            padding: 0;
        }
    }
    .heroclientas{
        background-image:none;
        height: auto;
        width: auto;
        color: $color-titulos;
        margin: 20px;
        justify-content: center;
        margin: 0px;
        }
    .clientas h2{
        font-size: 25px;
    }
    }
}

/*----------INDEX----------*/
@media screen and (max-width:980px) {
header{
    .nav-link{
        text-align: center;
        }
    }
}

@media screen and (max-width:900px) {
main{
    .presentacion{
        flex-direction: column;
        align-items: center;
        }
        .presentacion div{
            width:95%;
            margin:18px;
        }
    }
}

@media screen and (max-width:400px) {
main{
    .presentacion img{
        max-width: 100%;
    }
}
}

/*----------SERVICIOS------------*/
@media screen and (max-width:815px) {
main{
    .heroservicios{
        p{
            font-size: 20px;
            text-align: center;
        }
    }
    .opciones div div{
        text-align:justify;
        text-align: center;
        border-radius: 15px;
        margin: 10px;
        flex-direction: column;
        align-items:center;
        font-size: 15px;
        ul{
            width: 80%;
        }
        img{
            width: 50%;
            height: 50%;
        }
        h2{
            text-align: center;
            padding: 0;
        }
    }
}
}


/*---------TRABAJOS---------*/
@media screen and (max-width:650px){
main{
    .grid-galeria{
        grid-template-columns: repeat(2,1fr);
        padding: 20px;
    }
    .img-3{
        grid-row:span 1;
    }
    .img-4{
        grid-column: span 1;
    }
    .img-12{
        grid-column: span 1;
    }
}
}

@media screen and (max-width:500px){
main{
    .grid-galeria{
        grid-template-columns: repeat(1,1fr);
        padding: 20px;
    }
}
}
